Repository sgdevcamp2025/asyncgate, pull requests merged in 2025-03, with the labels that each got.

#105 [FE] feat: 친구 관련 및 DM api 연동
  src/frontend/src/api/directMessages.ts
  src/frontend/src/api/friends.ts
  src/frontend/src/api/users.ts
  src/frontend/src/components/common/AuthCheckbox/index.tsx
  src/frontend/src/components/common/Modal/index.tsx
  src/frontend/src/components/common/Modal/styles.ts
  src/frontend/src/components/friend/AddFriendForm/index.tsx
  src/frontend/src/components/friend/AddFriendForm/styles.ts
  src/frontend/src/components/friend/CreateDirectMessageModal/hooks/usePostDirect.ts
  src/frontend/src/components/friend/CreateDirectMessageModal/index.tsx
  src/frontend/src/components/friend/CreateDirectMessageModal/styles.ts
  src/frontend/src/components/friend/DeleteFriendConfirmModal/hooks/useDeleteFriend.ts
  src/frontend/src/components/friend/DeleteFriendConfirmModal/index.tsx
  src/frontend/src/components/friend/DeleteFriendConfirmModal/styles.ts
  src/frontend/src/components/friend/DirectMessageCategory/index.tsx
  src/frontend/src/components/friend/DirectMessageCategory/styles.ts
  src/frontend/src/components/friend/DirectMessagesList/index.tsx
  src/frontend/src/components/friend/DirectMessagesList/styles.ts
  src/frontend/src/components/friend/FriendsList/hooks/useGetFriendsList.ts
  src/frontend/src/components/friend/FriendsList/index.tsx
  src/frontend/src/components/friend/FriendsList/styles.ts
  src/frontend/src/components/friend/PendingFriendsList/hooks/useGetReceivedRequests.ts
  src/frontend/src/components/friend/PendingFriendsList/hooks/useGetSentRequests.ts
  src/frontend/src/components/friend/PendingFriendsList/hooks/useHandleFriendRequest.ts
  src/frontend/src/components/friend/PendingFriendsList/index.tsx
  src/frontend/src/components/friend/PendingFriendsList/styles.ts
  src/frontend/src/components/guild/GuildCategoriesList/index.tsx
  src/frontend/src/constants/endPoint.ts
  src/frontend/src/pages/FriendsPage/components/CategorySection/index.tsx
  src/frontend/src/pages/FriendsPage/components/UserProfile/hooks/useGetUserInfo.ts
  src/frontend/src/pages/FriendsPage/components/UserProfile/index.tsx
  src/frontend/src/pages/FriendsPage/components/UserProfile/styles.ts
  src/frontend/src/pages/FriendsPage/components/UserProfileTab/components/DeleteAccountConfirmModal/index.tsx
  src/frontend/src/pages/FriendsPage/components/UserProfileTab/components/DeleteAccountConfirmModal/styles.ts
  src/frontend/src/pages/FriendsPage/components/UserProfileTab/hooks/useUserProfileTabElements.tsx
  src/frontend/src/pages/FriendsPage/components/UserProfileTab/index.tsx
  src/frontend/src/stores/channelInfo.ts
  src/frontend/src/stores/userInfo.ts
  src/frontend/src/styles/theme.ts
  src/frontend/src/types/directMessages.ts
  src/frontend/src/types/friends.ts
  src/frontend/src/types/users.ts
  src/frontend/src/utils/axios.ts
Labels: feat, Frontend, 철민

#113 [FE] fix: 빌드 과정에서 생긴 오류 해결
  src/frontend/src/components/common/AuthDateInput/styles.ts
  src/frontend/src/components/guild/GuildCategoriesList/index.tsx
  src/frontend/src/pages/FriendsPage/components/ChattingSection/components/MessageItem/index.tsx
  src/frontend/src/pages/FriendsPage/components/ChattingSection/components/MessageSection/index.tsx
  src/frontend/src/pages/LoginPage/styles.ts
  src/frontend/src/pages/RegisterPage/components/AuthCodeModal/index.tsx
Labels: fix, Frontend, 철민

#115 [FE] fix: background-image의 url을 import해서 모듈로 수정
  src/frontend/src/components/layout/PublicOnlyLayout/styles.ts
  src/frontend/src/pages/LandingPage/styles.ts
  src/frontend/src/pages/LoginPage/styles.ts
Labels: fix, Frontend, 철민

#103 [BE] refactor: kurento, turn 세팅 및 media, signaling server 구현 완료
  config/signaling-server-local.yml
  config/signaling-server-prod.yml
  src/backend/apigateway-server/src/main/java/com/asyncgate/apigatewayserver/filter/AuthorizationHeaderFilter.java
  src/backend/apigateway-server/src/main/resources/application-prod.yml
  src/backend/signaling-server/build.gradle
  src/backend/signaling-server/http/SignalingControllerHttpRequest.http
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/config/CorsConfig.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/config/ICEServerConfig.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/config/KurentoConfig.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/config/WebClientConfig.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/controller/ChatRoomCommandController.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/controller/ChatRoomQueryController.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/controller/StompWebRtcController.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/domain/Member.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/dto/request/JoinRoomRequest.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/dto/request/KurentoOfferRequest.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/dto/response/GetICEUrlResponse.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/dto/response/GetUsersInChannelResponse.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/dto/response/KurentoAnswerResponse.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/dto/response/KurentoOfferResponse.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/entity/MemberEntity.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/entity/type/MemberMediaType.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/infrastructure/client/MemberServiceClient.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/infrastructure/utility/HttpClientUtil.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/infrastructure/utility/WebClientUtil.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/security/config/CorsConfig.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/security/config/SecurityConfig.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/security/constant/Constants.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/security/filter/FilterChannelInterceptor.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/security/filter/WebSocketHandshakeInterceptor.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/service/ExitRoomService.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/service/GetICEUrlService.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/service/GetUsersInRoomService.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/service/JoinRoomService.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/signaling/KurentoManager.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/support/handler/KurentoHandler.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/support/utility/DomainUtil.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/usecase/ExitRoomUseCase.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/usecase/GetICEUrlUseCase.java
  src/backend/signaling-server/src/main/java/com/asyncgate/signaling_server/usecase/JoinRoomUseCase.java
  src/backend/signaling-server/src/main/resources/application-local.yml
  src/backend/signaling-server/src/main/resources/application-prod.yml
  src/backend/user-server/http/UserControllerHttpRequest.http
  src/backend/user-server/src/main/java/com/asyncgate/user_server/controller/MemberQueryController.java
  src/backend/user-server/src/main/java/com/asyncgate/user_server/dto/response/DefaultJsonWebTokenResponse.java
  src/backend/user-server/src/main/java/com/asyncgate/user_server/security/utility/JsonWebTokenUtil.java
  src/backend/user-server/src/main/java/com/asyncgate/user_server/service/ReadUserRoomProfileService.java
Labels: refactor, Backend, 은지
