Repository sgdevcamp2025/asyncgate, pull requests merged in 2025-02, with the labels that each got.

#15 [ALL] setting: 프론트엔드 이슈 템플릿 작성
  .github/ISSUE_TEMPLATE/FE-ISSUE-TEMPLATE
  .github/ISSUE_TEMPLATE/FE-ISSUE-TEMPLATE.md
Labels: setting, ALL, 철민

#18 [ALL] setting: 디스코드 알림 오류 수정
  .github/ISSUE_TEMPLATE/FE-ISSUE-TEMPLATE
  .github/ISSUE_TEMPLATE/FE-ISSUE-TEMPLATE.md
  .github/workflows/discord-pull-request-comment.yml
Labels: setting, ALL, 철민

#21 [BE] setting: notification, chat, signaling server Bootstrap 연동
  config/chat-server.yml
  config/notificaction-server.yml
  config/signaling_server.yml
Labels: setting, Backend, 준형

#23 [FE] setting: 프론트엔드 개발 환경 초기 세팅
  src/frontend/.babelrc
  src/frontend/.eslintrc.cjs
  src/frontend/.gitignore
  src/frontend/.gitkeep
  src/frontend/.prettierrc
  src/frontend/.stylelintrc
  src/frontend/README.md
  src/frontend/index.html
  src/frontend/jest.config.js
  src/frontend/package.json
  src/frontend/src/App.tsx
  src/frontend/src/assets/empty.md
  src/frontend/src/components/common/empty.md
  src/frontend/src/hooks/empty.md
  src/frontend/src/main.tsx
  src/frontend/src/pages/empty.md
  src/frontend/src/vite-env.d.ts
  src/frontend/tsconfig.app.json
  src/frontend/tsconfig.json
  src/frontend/tsconfig.node.json
  src/frontend/vite.config.ts
  src/frontend/yarn.lock
Labels: setting, Frontend, 철민

#26 [iOS] setting: iOS 프로젝트 초기 세팅
  src/ios/asyncgate_iOS/asyncgate-iOS-Info.plist
  src/ios/asyncgate_iOS/asyncgate_iOS.xcodeproj/project.pbxproj
  src/ios/asyncgate_iOS/asyncgate_iOS.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  src/ios/asyncgate_iOS/asyncgate_iOS.xcodeproj/project.xcworkspace/xcuserdata/kdk.xcuserdatad/UserInterfaceState.xcuserstate
  src/ios/asyncgate_iOS/asyncgate_iOS.xcodeproj/xcuserdata/kdk.xcuserdatad/xcschemes/xcschememanagement.plist
  src/ios/asyncgate_iOS/asyncgate_iOS/Assets.xcassets/AccentColor.colorset/Contents.json
  src/ios/asyncgate_iOS/asyncgate_iOS/Assets.xcassets/AppIcon.appiconset/Contents.json
  src/ios/asyncgate_iOS/asyncgate_iOS/Assets.xcassets/Contents.json
  src/ios/asyncgate_iOS/asyncgate_iOS/Component/Color.swift
  src/ios/asyncgate_iOS/asyncgate_iOS/Component/Font.swift
  src/ios/asyncgate_iOS/asyncgate_iOS/ContentView.swift
  src/ios/asyncgate_iOS/asyncgate_iOS/Preview Content/Preview Assets.xcassets/Contents.json
  src/ios/asyncgate_iOS/asyncgate_iOS/Resources/Fonts/Pretendard-Black.otf
  src/ios/asyncgate_iOS/asyncgate_iOS/Resources/Fonts/Pretendard-Bold.otf
  src/ios/asyncgate_iOS/asyncgate_iOS/Resources/Fonts/Pretendard-ExtraBold.otf
  src/ios/asyncgate_iOS/asyncgate_iOS/Resources/Fonts/Pretendard-ExtraLight.otf
  src/ios/asyncgate_iOS/asyncgate_iOS/Resources/Fonts/Pretendard-Light.otf
  src/ios/asyncgate_iOS/asyncgate_iOS/Resources/Fonts/Pretendard-Medium.otf
  src/ios/asyncgate_iOS/asyncgate_iOS/Resources/Fonts/Pretendard-Regular.otf
  src/ios/asyncgate_iOS/asyncgate_iOS/Resources/Fonts/Pretendard-SemiBold.otf
  src/ios/asyncgate_iOS/asyncgate_iOS/Resources/Fonts/Pretendard-Thin.otf
  src/ios/asyncgate_iOS/asyncgate_iOS/asyncgate_iOSApp.swift
  src/ios/asyncgate_iOS/asyncgate_iOSTests/asyncgate_iOSTests.swift
  src/ios/asyncgate_iOS/asyncgate_iOSUITests/asyncgate_iOSUITests.swift
  src/ios/asyncgate_iOS/asyncgate_iOSUITests/asyncgate_iOSUITestsLaunchTests.swift
Labels: setting, iOS, 다경

#28 [FE] setting: styles 관련 초기 세팅
  src/frontend/index.html
  src/frontend/package.json
  src/frontend/src/main.tsx
  src/frontend/src/styles/GlobalStyle.tsx
  src/frontend/src/styles/Typography.tsx
  src/frontend/src/styles/styled.d.ts
  src/frontend/src/styles/theme.ts
Labels: setting, Frontend, 혜인

#32 [FE] feat: 회원가입, 로그인 페이지 구현
  src/frontend/package.json
  src/frontend/src/App.tsx
  src/frontend/src/assets/background.svg
  src/frontend/src/assets/checked.svg
  src/frontend/src/assets/downArrow.svg
  src/frontend/src/assets/empty.md
  src/frontend/src/assets/logo.svg
  src/frontend/src/assets/qrcode.svg
  src/frontend/src/components/common/AuthCheckbox/index.tsx
  src/frontend/src/components/common/AuthCheckbox/styles.ts
  src/frontend/src/components/common/AuthDateInput/index.tsx
  src/frontend/src/components/common/AuthDateInput/styles.ts
  src/frontend/src/components/common/AuthDateInput/useDateInput.ts
  src/frontend/src/components/common/AuthInput/index.tsx
  src/frontend/src/components/common/AuthInput/styles.ts
  src/frontend/src/components/common/DropdownInput/index.tsx
  src/frontend/src/components/common/DropdownInput/styles.ts
  src/frontend/src/components/common/DropdownInput/useDropdownInput.ts
  src/frontend/src/components/common/empty.md
  src/frontend/src/components/layout/AuthFullLayout/index.tsx
  src/frontend/src/components/layout/AuthFullLayout/styles.ts
  src/frontend/src/components/layout/FullLayout/index.tsx
  src/frontend/src/components/layout/FullLayout/styles.ts
  src/frontend/src/components/layout/PublicOnlyLayout/index.tsx
  src/frontend/src/components/layout/PublicOnlyLayout/styles.ts
  src/frontend/src/hooks/empty.md
  src/frontend/src/hooks/useDropdown.ts
  src/frontend/src/main.tsx
  src/frontend/src/pages/ErrorPage/index.tsx
  src/frontend/src/pages/LandingPage/index.tsx
  src/frontend/src/pages/LoginPage/hooks/useLogin.ts
  src/frontend/src/pages/LoginPage/index.tsx
  src/frontend/src/pages/LoginPage/styles.ts
  src/frontend/src/pages/RegisterPage/hooks/useRegister.ts
  src/frontend/src/pages/RegisterPage/index.tsx
  src/frontend/src/pages/RegisterPage/styles.ts
  src/frontend/src/router.tsx
  src/frontend/src/styles/GlobalStyle.tsx
  src/frontend/src/styles/Typography.tsx
  src/frontend/src/styles/motions.ts
  src/frontend/src/styles/theme.ts
  src/frontend/src/types/index.ts
  src/frontend/tsconfig.app.json
  src/frontend/tsconfig.json
  src/frontend/vite.config.ts
  src/frontend/yarn.lock
Labels: feat, design, Frontend, 철민

#35 [FE] feat: 길드 생성 레이아웃 구현
  src/frontend/.eslintrc.cjs
  src/frontend/index.html
  src/frontend/package.json
  src/frontend/src/components/common/Modal/index.tsx
  src/frontend/src/components/common/Modal/styles.ts
  src/frontend/src/components/common/ModalRender/index.tsx
  src/frontend/src/components/guild/CreateGuildModalContent/index.tsx
  src/frontend/src/components/guild/GuildList/index.tsx
  src/frontend/src/components/guild/GuildList/styles.ts
  src/frontend/src/components/guild/types/index.ts
  src/frontend/src/components/layout/AuthFullLayout/index.tsx
  src/frontend/src/components/layout/AuthLayout.tsx
  src/frontend/src/hooks/useFunnel.tsx
  src/frontend/src/pages/FriendsPage/components/CreateGuildModal/index.tsx
  src/frontend/src/pages/FriendsPage/components/CreateGuildModal/styles.ts
  src/frontend/src/pages/FriendsPage/components/CustomizeGuildModal/index.tsx
  src/frontend/src/pages/FriendsPage/components/CustomizeGuildModal/styles.ts
  src/frontend/src/pages/FriendsPage/index.tsx
  src/frontend/src/pages/FriendsPage/styles.ts
  src/frontend/src/router.tsx
  src/frontend/src/stores/modalStore.ts
  src/frontend/src/types/index.ts
  src/frontend/yarn.lock
Labels: design, Frontend, 혜인

#37 [BE] setting: production config로 수정 (#36)
  config/apigateway-server.yml
  config/chat-server.yml
  config/guild-server.yml
  config/notificaction-server.yml
  config/signaling_server.yml
  config/state-server.yml
  config/user-server.yml
  src/backend/guild-server/src/main/resources/application.yml
Labels: setting, Backend, 은지

#39 [BE] setting: apigateway route 통일
  src/backend/apigateway-server/src/main/resources/application.yml
Labels: setting, Backend, 준형

#51 [BE] refactor: 회원가입 이메일 중복 검사 추가
  src/backend/user-server/src/main/java/com/asyncgate/user_server/entity/MemberEntity.java
  src/backend/user-server/src/main/java/com/asyncgate/user_server/service/RegisterTemporaryMemberService.java
Labels: refactor, Backend, 은지

#55 [BE] refactor: config 서버 빌드 기준을 root config 폴더로 변경
  .github/workflows/be-main.yml
Labels: refactor, Backend, 은지

#56 [FE] setting: axios 설정
  src/frontend/.gitignore
  src/frontend/package.json
  src/frontend/src/api/guild.ts
  src/frontend/src/constants/endPoint.ts
  src/frontend/src/types/guilds.ts
  src/frontend/src/utils/axios.ts
  src/frontend/yarn.lock
Labels: setting, Frontend, 혜인

#59 [BE] fix: guild error argument 해결
  config/guild-server.yml
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/controller/ChannelController.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/controller/docs/ChannelControllerDocs.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/domain/Channel.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/dto/request/ChannelCreateRequest.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/dto/request/GuildRequest.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/dto/response/ChannelResponse.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/dto/response/GuildInfoResponse.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/exception/FailType.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/exception/GuildExceptionHandler.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/repository/CategoryQueryDslRepository.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/repository/CategoryRepository.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/repository/CategoryRepositoryImpl.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/repository/GuildQuerydslRepository.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/repository/GuildRepository.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/repository/GuildRepositoryImpl.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/security/filter/JwtFilter.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/service/ChannelService.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/service/ChannelServiceImpl.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/support/utility/DomainUtil.java
  src/backend/user-server/src/main/java/com/asyncgate/user_server/dto/request/RegisterTemporaryMemberRequest.java
  src/backend/user-server/src/main/java/com/asyncgate/user_server/exception/FailType.java
  src/backend/user-server/src/main/java/com/asyncgate/user_server/service/RegisterTemporaryMemberService.java
  src/backend/user-server/src/main/java/com/asyncgate/user_server/support/handler/GlobalExceptionHandler.java
Labels: fix, Backend, 준형

#62 [FE] feat: 길드 생성 및 조회 구현
  src/frontend/src/api/guild.ts
  src/frontend/src/components/guild/CreateGuildModalContent/index.tsx
  src/frontend/src/components/guild/GuildList/index.tsx
  src/frontend/src/components/guild/GuildList/styles.ts
  src/frontend/src/hooks/createGuild/useCreateGuildData.tsx
  src/frontend/src/hooks/createGuild/useGuildCustomizeStep.ts
  src/frontend/src/hooks/createGuild/useGuildIsPublicStep.ts
  src/frontend/src/pages/FriendsPage/components/CreateGuildModal/index.tsx
  src/frontend/src/pages/FriendsPage/components/CustomizeGuildModal/index.tsx
  src/frontend/src/pages/FriendsPage/components/CustomizeGuildModal/styles.ts
  src/frontend/src/types/guilds.ts
  src/frontend/src/utils/convertFormData.ts
Labels: feat, design, Frontend, 혜인

#67 [FE] feat: 랜딩 페이지 구현 및 로그인/회원가입 api 연동
  src/frontend/src/api/users.ts
  src/frontend/src/assets/download.svg
  src/frontend/src/assets/landingBackground.png
  src/frontend/src/assets/landingPreview.webp
  src/frontend/src/assets/landingStars.webp
  src/frontend/src/components/common/AuthDateInput/index.tsx
  src/frontend/src/components/common/AuthDateInput/styles.ts
  src/frontend/src/components/common/AuthInput/index.tsx
  src/frontend/src/components/common/AuthInput/styles.ts
  src/frontend/src/components/common/Modal/styles.ts
  src/frontend/src/components/layout/PublicOnlyLayout/index.tsx
  src/frontend/src/constants/endPoint.ts
  src/frontend/src/pages/FriendsPage/components/CreateGuildModal/styles.ts
  src/frontend/src/pages/LandingPage/components/NavigationBar/hooks/useNavigationBar.ts
  src/frontend/src/pages/LandingPage/components/NavigationBar/index.tsx
  src/frontend/src/pages/LandingPage/components/NavigationBar/styles.ts
  src/frontend/src/pages/LandingPage/index.tsx
  src/frontend/src/pages/LandingPage/styles.ts
  src/frontend/src/pages/LoginPage/index.tsx
  src/frontend/src/pages/LoginPage/styles.ts
  src/frontend/src/pages/RegisterPage/components/AuthCodeModal/index.tsx
  src/frontend/src/pages/RegisterPage/components/AuthCodeModal/styles.ts
  src/frontend/src/pages/RegisterPage/constants/index.ts
  src/frontend/src/pages/RegisterPage/hooks/useRegister.ts
  src/frontend/src/pages/RegisterPage/index.tsx
  src/frontend/src/pages/RegisterPage/styles.ts
  src/frontend/src/pages/empty.md
  src/frontend/src/styles/motions.ts
  src/frontend/src/types/users.ts
  src/frontend/src/utils/parseDate.ts
Labels: feat, Frontend, 철민

#70 [FE] feat: 길드 카테고리 영역 및 설정 Dropdown 구현
  src/frontend/src/api/guild.ts
  src/frontend/src/components/guild/GuildCategories/index.tsx
  src/frontend/src/components/guild/GuildCategories/styles.ts
  src/frontend/src/components/guild/GuildList/index.tsx
  src/frontend/src/pages/FriendsPage/components/CustomizeGuildModal/index.tsx
  src/frontend/src/pages/FriendsPage/index.tsx
  src/frontend/src/pages/FriendsPage/styles.ts
  src/frontend/src/stores/guildInfo.ts
  src/frontend/src/types/guilds.ts
Labels: feat, design, 혜인

#72 [FE] feat: 유저 프로필 영역 및 탭 구현
  src/frontend/src/main.tsx
  src/frontend/src/pages/FriendsPage/components/UserProfile/index.tsx
  src/frontend/src/pages/FriendsPage/components/UserProfile/styles.ts
  src/frontend/src/pages/FriendsPage/components/UserProfileTab/hooks/useUserProfileTabElements.ts
  src/frontend/src/pages/FriendsPage/components/UserProfileTab/index.tsx
  src/frontend/src/pages/FriendsPage/components/UserProfileTab/styles.ts
  src/frontend/src/utils/retryQuery.ts
Labels: feat, Frontend, 철민

#79 [BE] fix: chat-server 오류 대응
  .github/actions/ecr-push/action.yml
  config/chat-server.yml
  src/backend/chat-server/src/main/kotlin/com/asyncgate/chat_server/controller/ChannelController.kt
  src/backend/chat-server/src/main/kotlin/com/asyncgate/chat_server/exception/FailType.kt
  src/backend/chat-server/src/main/kotlin/com/asyncgate/chat_server/exception/WebSocketErrorHandler.kt
  src/backend/chat-server/src/main/kotlin/com/asyncgate/chat_server/filter/FilterChannelInterceptor.kt
  src/backend/chat-server/src/main/kotlin/com/asyncgate/chat_server/filter/JwtHandshakeInterceptor.kt
  src/backend/chat-server/src/main/kotlin/com/asyncgate/chat_server/filter/JwtTokenProvider.kt
  src/backend/chat-server/src/main/kotlin/com/asyncgate/chat_server/support/utility/CustomSecurityContext.kt
  src/backend/chat-server/src/main/resources/application.yml
  src/backend/discovery-server/build/tmp/compileJava/previous-compilation-data.bin
Labels: fix, setting, Backend, 준형

#88 [BE] feat: Direct create API
  src/backend/chat-server/src/main/kotlin/com/asyncgate/chat_server/config/WebSocketConfig.kt
  src/backend/chat-server/src/main/kotlin/com/asyncgate/chat_server/controller/HealthCheckController.kt
  src/backend/chat-server/src/main/kotlin/com/asyncgate/chat_server/exception/ChatServerErrorHandler.kt
  src/backend/chat-server/src/main/kotlin/com/asyncgate/chat_server/exception/WebSocketErrorHandler.kt
  src/backend/chat-server/src/main/kotlin/com/asyncgate/chat_server/filter/StompInterceptor.kt
  src/backend/chat-server/src/main/kotlin/com/asyncgate/chat_server/filter/WebSocketHandshakeInterceptor.kt
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/client/UserClient.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/client/UserClientInfoResponses.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/config/FeignClientConfig.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/controller/DirectController.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/domain/Direct.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/domain/DirectMember.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/dto/request/DirectChannelCreateRequest.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/dto/response/DirectResponse.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/entity/DirectEntity.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/entity/DirectMemberEntity.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/repository/DirectJpaRepository.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/repository/DirectMemberJpaRepository.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/repository/DirectMemberRepository.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/repository/DirectMemberRepositoryImpl.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/repository/DirectRepository.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/repository/DirectRepositoryImpl.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/security/SecurityConstants.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/security/filter/JwtFilter.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/service/DirectService.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/service/DirectServiceImpl.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/support/utility/DomainUtil.java
  src/backend/user-server/src/main/java/com/asyncgate/user_server/controller/MemberCommandController.java
  src/backend/user-server/src/main/java/com/asyncgate/user_server/dto/response/UserClientInfoResponses.java
  src/backend/user-server/src/main/java/com/asyncgate/user_server/repository/MemberQueryDslRepository.java
  src/backend/user-server/src/main/java/com/asyncgate/user_server/repository/MemberRepository.java
  src/backend/user-server/src/main/java/com/asyncgate/user_server/repository/MemberRepositoryImpl.java
  src/backend/user-server/src/main/java/com/asyncgate/user_server/security/constant/Constants.java
  src/backend/user-server/src/main/java/com/asyncgate/user_server/service/FindUserInfoService.java
  src/backend/user-server/src/main/java/com/asyncgate/user_server/usecase/FindUserInfoUseCase.java
Labels: feat, Backend, 준형

#95 [BE] fix: Direct 목록 조회 오류대응 2
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/repository/DirectMemberQueryDslRepository.java
  src/backend/guild-server/src/main/java/com/asyncgate/guild_server/support/utility/DomainUtil.java
Labels: fix, Backend, 준형
